* {
    outline: 1px solid crimson;
    box-sizing: border-box;
}

canvas {
    width: 98vw;
    height: 95vh;
    margin: 0;
    padding: 0;
}

.emptyHealthBar {
    background-color: yellow;
    width: 100%;
    height: 7vh;
}

#container {
    position: relative;
    display: inline-block;
}

#gameInfo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#timer {
    background-color: rgb(88, 119, 255);
    width: 175px;
    height: 175px; /* i want this box to be a square so i'm using the same exact value as width; i know vw measures the width not the height */
    border-radius: 25%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 175px;
}

.healthBarContainer {
    position: relative;
    width: 100%;
    height: 7vh;
}

.healthBar {
    position: absolute;
    background-color: rgb(32, 249, 32);
    /* inset: 0; /* inset combines top, left, bottom and right into one selector*/
    top: 0;
    left: 0; /* this would be taken out if i fix reverseHealthBar */
    right: 0;
    bottom: 0;
}

#reversehealthBar {
    display: flex;
    justify-content: flex-end;
}

/* #enemyHealth {
    left: 0; /* maybe not the cleanest way to do it 
} */